# Relatório de Análise I

## Importando a Base de Dados

In [ ]:
import pandas as pd

Utilizando o método "read_csv()" para ler dados do arquivo CSV

In [ ]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')

Verificando o tipo da variável "dados"

In [ ]:
type(dados)

pandas.core.frame.DataFrame

Ele nos retorna que "dados" é um objeto do tipo **DataFrame**

Adquirindo mais informações sobre o dataframe com o "info()"

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

Conhecendo as 10 primeiras linhas da base de dados:

In [ ]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

## Informações Gerais sobre a Base de Dados

Exibindo os tipos das variáveis existentes na base de dados com o método "dados.dtypes".

Para tornar as informações mais apresentáveis, é utilizado o "pd.DataFrame" para criar um dataframe e visualizar de forma mais elegante.

In [ ]:
pd.DataFrame(dados.dtypes)

                  0
Tipo         object
Bairro       object
Quartos       int64
Vagas         int64
Suites        int64
Area          int64
Valor       float64
Condominio  float64
IPTU        float64

Para melhorar ainda mais a tabela, atribuimos ela a uma variável, além de adicionarmos nomes para as colunas.

In [ ]:
pd.DataFrame(dados.dtypes, columns=['Tipos de Dados'])

           Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [ ]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns=['Tipos de Dados'])
tipos_de_dados.columns.name = 'Variáveis'
tipos_de_dados

Variáveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

Para verificar a quantidade de registros e de variáveis, é utilizado o "shape"

In [ ]:
dados.shape

(32960, 9)

In [ ]:
print('A base de dados apresenta {} registros (imóveis) e {} variáveis'.format(dados.shape[0], dados.shape[1]))

A base de dados apresenta 32960 registros (imóveis) e 9 variáveis